/* Set a background color for the whole page */
body {
    background-color: rgb(54, 61, 71) !important; /* Dark background color */
    color: #ffffff !important; /* Light text color */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Style for the logo container */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px; /* Set the desired width */
    height: 100px; /* Set the desired height */
    margin: 0 auto;
    border: 5px solid black; /* Add a border */
    overflow: hidden; /* Hide any overflow content */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgb(0, 0, 0) !important;
}

/* Style for the logo image */
.logo img {
    max-width: 100%;
    max-height: 100%;
}

/* Container style for the main content */
.container {
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    background-color: #292929; /* Dark gray background */
    box-shadow: 0px 0px 50px rgb(0, 0, 0) !important;
    border: 4px solid rgb(77, 78, 79);
    border-radius: 20px;
}

/* Style for form elements */
.input-field {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #fff !important; /* Set text color to white */
    background-color: #333 !important; /* Set background color */
}

/* Style for buttons */
.calculate-button, .clear-button, .home-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.calculate-button:hover, .clear-button:hover, .home-button:hover {
    background-color: #0056b3;
}

/* Style for select dropdowns */
select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333 !important; /* Dark gray background */
    color: #ffffff !important; /* Light text color */
}

/* Style for result container */
.result {
    background-color: #333; /* Dark gray background */
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    color: #ffffff; /* Light text color */
}

/* Custom List style */
.custom-List {
    margin-top: 20px;
    text-align: center;
}

/* Style for list items */
.custom-List ul {
    list-style-type: none;
    padding: 0;
}

/* Style for list items */
.custom-List ul li {
    font-size: 16px;
    margin-bottom: 8px;
    list-style: none;
    padding-bottom: 20px;
}